.form-body-container {
  .dx-form-group-with-caption.dx-form-group {
    .dx-form-group-caption {
      font-weight: 700 !important;
      font-size: 16px !important;
      color: #000 !important;
      line-height: 21px !important;
      cursor: default;
      letter-spacing: unset !important;
    }

    .dx-form-group-content {
      .dx-form-group-caption {
        font-weight: 700 !important;
        font-size: 14px !important;
        color: #000 !important;
        line-height: 21px !important;
        cursor: default;
        letter-spacing: unset !important;
      }

      .dx-collection {
        row-gap: 12px;
        .dx-item-content.dx-box-item-content {
          gap: 80px;

          .dx-field-item {
            justify-content: space-between;
            gap: 20px;

            .dx-field-item-content .dx-field-item-content-location-right {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

.dx-state-readonly {
  border: none;

  &.dx-state-hover {
    border: none;
  }

  &.dx-texteditor.dx-editor-outlined {
    border: none;
  }
  .dx-texteditor-input {
    background-color: #f2f2f2 !important; /* Change the background color */
    color: #999999; /* Change the text color */
    cursor: not-allowed; /* Change the cursor style */
  }
}

.dx-checkbox-indeterminate .dx-checkbox-icon {
}

.dx-overlay-wrapper.dx-popup-wrapper.dx-overlay-shader {
  background-color: rgba(33, 33, 33, 0.423);

  .dx-overlay-content.dx-popup-normal.dx-resizable {
    height: unset !important;
  }

  .dx-popup-content.dx-popup-content-scrollable {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 24px;
    padding-right: 24px;

    .dx-form-group-caption {
      font-weight: 450;
      color: #212121;
      font-size: 16px !important;
      line-height: 24px !important;
      cursor: default;
      letter-spacing: unset !important;
    }
  }
}

.dx-popup-title.dx-has-close-button {
  border: none;
  padding: 24px;

  .dx-toolbar-item-content {
    font-weight: 700 !important;
    font-size: 20px !important;
    color: #212121 !important;
  }
}

.dx-popup-bottom.dx-toolbar {
  flex: 1;
  background: #f5f6f8;
}

.form-body-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 24px;

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    .row.ma-0.pa-0 {
      grid-column: 1 / span 2;
      margin-top: 20px !important;
      margin-bottom: 12px !important;
    }

    .text-lg-h3 {
      grid-column: 1 / span 2;
      margin-top: 20px !important;
      margin-bottom: 12px !important;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;

  .row.ma-0.pa-0.row,
  .mt-4.pl-3.header-dialog {
    grid-column: 1 / span 2;
    margin-top: 20px !important;
    margin-bottom: 12px !important;
  }

  .text-lg-h3 {
    grid-column: 1 / span 2;
    margin-top: 20px !important;
    margin-bottom: 12px !important;
  }
}

.misa-empty-data {
  height: 65px;
  border-radius: 5px;
  border: 1px dashed #e9ebee;
}

.misa-background-footer-dialog {
  background-color: #f5f6f8 !important;
}
