:root {
  --primary-color: #007aff;

  --sidebar-background-color: rgb(6, 23, 41);
  --sidebar-hover-color: rgba(148, 194, 255, 0.06);
  --sidebar-background-color-active: #007aff;
  --sidebar-text: #8f98ab !important;

  --main-background-color: #eceef1;
  --header-background-color: #f2f9ff;

  --table-border-color: #d4d7dc;
  --table-header-background-color: #e5e8ec;
  --table-body-active-background-color: #edf8eb;
  --table-body-hover-background-color: #f2f2f2;

  --popup-overlay-color: rgba(0, 0, 0, 0.4);

  --button-primary-color: #50b83c;
  --button-delete-color: #de3617;

  --control-label-bottom-space: 2px;
  --primary-button-height: 26px;
  --rounded-button-height: 28px;
  --get-data-button-height: 26px;
  --input-height: 36px;

  --datepicker-selected-day-background-color: rgba(44, 160, 28, 0.2);
  --datepicker-selected-day-color: #2ca01c;

  --tooltip-form-error: #de3617;
}
