.table-container {
  width: 100%;
}

.dx-header-row {
  color: black;
}

.employee-page .dx-datagrid.dx-gridbase-container {
  height: calc(100vh - 302px);
}

.employee-page.narrow .dx-datagrid.dx-gridbase-container {
  height: calc(100vh - 432px);
}

.page .dx-datagrid.dx-gridbase-container {
  height: calc(100vh - 282px);
}

.dx-widget .dx-gridbase-container .dx-checkbox-icon {
  height: 20px;
  width: 20px;
  background: url(https://amisplatform.misacdn.net/apps/mintax/img/uncheck-checkbox.74fd9037.svg)
    no-repeat;
  background-size: 20px;
  border: none;
}

td.dx-command-select.dx-cell-focus-disabled.dx-editor-cell.dx-editor-inline-block {
  padding-left: 0 !important;
}

.dx-widget .dx-gridbase-container .dx-checkbox-icon:before {
  content: "";
  background: url(https://amisplatform.misacdn.net/apps/mintax/img/check-checkbox.1abdccd9.svg)
    no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px;
  top: 0;
  left: 0;
  margin: 0;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
  width: 44px;
  min-width: 44px;
  max-width: 44px;
  overflow: hidden;
  text-overflow: clip;
}

.dx-datagrid-borders .dx-datagrid-rowsview,
.dx-datagrid-headers + .dx-datagrid-rowsview,
.dx-datagrid-rowsview.dx-datagrid-after-headers {
  border-top: none;
}

.dx-datagrid-headers {
  height: 48.5px;
  border-bottom: none;
}

.dx-widget
  .dx-gridbase-container
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > td,
.misa-container-base--table-v3
  .dx-widget
  .dx-gridbase-container
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > tr
  > td {
  vertical-align: inherit;
  position: relative;
  white-space: normal !important;
}

tr.dx-row.dx-header-row {
  height: 48px;
}

.dx-datagrid .dx-row > td,
.dx-datagrid .dx-row > tr > td {
}

tr.dx-row.dx-header-row > td {
}

.dx-datagrid-rowsview
  .dx-select-checkboxes-hidden
  > tbody
  > tr
  > td
  > .dx-select-checkbox {
  display: inline-block;
}

tr.dx-row.dx-data-row {
  height: 48px;
}

.dx-widget
  .dx-gridbase-container
  .dx-datagrid-rowsview
  .dx-selection.dx-row:not(.dx-row-focused)
  > td {
  background-color: #f2f8ff;
}

.dx-widget
  .dx-gridbase-container
  .dx-checkbox-indeterminate
  .dx-checkbox-icon:before {
  content: "";
  background: url(https://amisplatform.misacdn.net/apps/mintax/img/iderminate-checkbox.99cbdb74.svg)
    no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px;
  top: 0;
  left: 0;
  margin: 0;
}

.hover-button {
  position: absolute;
  display: block;
  right: 0;
}

/* Context menu */
.ms-view-table__action-column {
  padding: 0 !important;
  position: sticky !important;
  display: flex;
  width: auto !important;
  background: none !important;
  top: 0;
  right: 0;
  height: 48px;
  margin-left: -80px;
  z-index: 99;
  border: none !important;
}

.ms-view-table__action-container {
  position: absolute;
  top: 4px;

  z-index: 10 !important;
  gap: 10px;

  display: none;
}

.dx-row.dx-data-row:hover .ms-view-table__action-container {
  display: flex !important;
}

.dx-row.dx-state-hover .ms-view-table__action-container {
  display: flex !important;
}

/* Context menu */

.v-btn:not(.v-btn--round).v-size--small {
  min-width: unset;
  padding: 0 10px;
}

.b-info {
  color: #212121 !important;
  background-color: #fff !important;
  border: 1px solid #e6e6e6;
}

.v-btn .v-btn__content {
  line-height: 20px;
}

.mi-open-new-tab {
  width: 20px !important;
  height: 20px !important;
  background: url(https://amisplatform.misacdn.net/apps/mintax/img/icon.4ca9813a.svg) -180px
    0 no-repeat;
}

.ico-edit-table-row {
  background: url(https://amisplatform.misacdn.net/apps/mintax/img/edit-table-row.088eee2b.svg)
    no-repeat 50%;
  height: 16px;
  width: 16px;
}

.ico-delete-table-row {
  background: url(https://amisplatform.misacdn.net/apps/mintax/img/delete-table-row.d1b38148.svg)
    no-repeat 50%;
  height: 16px;
  width: 16px;
}

.pin-location-right {
  position: absolute;
  right: 0;
}

.v-btn:before {
  background-color: currentColor;
  border-radius: inherit;
  bottom: 0;
  color: inherit;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}

.v-btn.action-button.b-info:hover {
  color: #1d88fe !important;
  border: 1px solid #1d88fe;
  background-color: #fff !important;
}

.v-btn--rounded {
  border-radius: 28px !important;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td:not(:first-child) {
  position: relative;

  &::after {
    content: "";
    height: 80%;
    position: absolute;
    top: 10%;
    right: 0;
    border-right: 1px solid #e4e4e4;
    display: none;
  }

  &:hover {
    .ico-un-pin {
      display: block;
    }
  }

  &:hover::after {
    display: block;
  }
}

.header__cell__container {
  display: flex;
  justify-content: space-between;
}

.dx-datagrid-rowsview .dx-row {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #e4e4e4 !important;
}

.form-group-item-container.view {
  margin-bottom: 20px;
}

.action-button.b-info:hover {
  color: #1d88fe !important;
  border: 1px solid #1d88fe !important;
  background-color: #fff !important;
}
